body {
    background-color: rgb(239, 227, 249);
}

.titleI {
    font-size: 100px;
   position: relative;
   left: 750px ;
  color: white;

}

.titleWeather {
    font-size: 50px;
     position: relative;
   left: 645px ; 
   bottom: 15px;
   color: rgb(93, 93, 93);
}

.weatherBox {
    background-color: white;
    margin: 90px auto;
    max-width: 700px;
    max-height: 735px;
    border: none;
    border-radius: 25px;
    padding: 50px 30px;
    box-shadow: 8px 8px 20px 30px rgba(0, 0, 255, .2);
}

.searchFormInput {
    
    width: 500px;
    padding: 20px;
    border: none;
    background-color: rgb(239, 227, 249);
    border-radius: 20px;
    margin-left: 35px;
    
    font-size: 18px;
  
}

.searchFormButton {
    padding: 19px 35px;
    background-color: blueviolet;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    color: white;
    font-size: 18px;

}

.searchFormButton:hover {
    background-color: rgb(188, 135, 237);
    color: blueviolet;
}

hr {
    opacity: 10%;
    
}

.topLine {
    margin-top: 40px;
}

.currentCity {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 70px;
}

.currentTime , .weatherData,.weatherCondition {
    font-size: 21px;
}

.currentTime  {
    margin: 60px 0 5px 90px;
    color: gray;
}
.weatherData {
    margin-top: 0px;
    margin-left: 90px;
    color: gray;
}

.weatherCondition{
    margin-left: 90px;
}

strong {
    color: rgb(246, 48, 81);
}

.currentTemp {
    position: relative;
    left: 500px;
    bottom:230px;
    font-size: 80px;

}

.weatherEmoji {
    position: relative;
    left: 400px;
    bottom: 125px;
    font-size: 20px;
}

.degree {
    font-size: 23px;
    font-weight: 100;
    position: relative;
    left: 500px;
    bottom: 270px;
}

#forcast-Data {
  display: flex;
  justify-content: center;
  margin-top: 30px;

}

.forcastDate {
   font-size: 21px;
  
   line-height: 50px;
   margin-bottom: 10px;
   position: relative;
   bottom: 180px;
   left: 70px;
   
}

.forcastEmoji {
 position: relative;
   bottom: 130px;
   left: 10px;
 width: 83px;
   height: 83px; 

}

.forcastTemp {
    font-size: 20px;
    position: relative;
   bottom: 25px;
   right: 70px; 
}

.forecastTempTwo {
    position: relative;
    bottom: 25px;
    right: 60px;
    font-size: 20px;
}




footer {
    font-size: 18px;
    color: gray;
    text-align: center;
   margin-bottom: 50px;

}

a {
    color: blueviolet;
}

