body {
    background-color: rgb(239, 227, 249);
}

.titleI {
    font-size: 100px;
   position: relative;
   left: 750px ;
  color: white;

}

.titleWeather {
    font-size: 50px;
     position: relative;
   left: 645px ; 
   bottom: 15px;
   color: rgb(93, 93, 93);
}

.weatherBox {
    background-color: white;
    margin: 90px auto;
    max-width: 500px;
    border: none;
    border-radius: 15px;
    padding: 50px 30px;
}

.searchFormInput {
    
    width: 370px;
    padding: 20px;
    border: none;
    background-color: rgb(239, 227, 249);
    border-radius: 12px;
    margin-left: 0px;
    font-size: 18px;
  
}

.searchFormButton {
    padding: 20px 30px;
    background-color: blueviolet;
    border: none;
    border-radius: 12px;
    margin-left: 10px;
    color: white;
    font-size: 18px;

}

.searchFormButton:hover {
    background-color: rgb(188, 135, 237);
    color: blueviolet;
}

hr {
    opacity: 10%;
    margin-top: 20px;
}

.currentCity {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 50px;
}

.currentTime , .weatherData {
    font-size: 20px;
}

.currentTime {
    margin-top: 0px;
    margin-bottom: 5px;
    color: gray;
}
.weatherData {
    margin-top: 0px;
    color: gray;
}

.weatherCondition{
    font-size: 20px;
}

strong {
    color: rgb(246, 48, 81);
}

.currentTemp {
    position: relative;
    left: 420px;
    bottom:210px;
    font-size: 55px;

}

.weatherEmoji {
    position: relative;
    left: 320px;
    bottom: 125px;
    font-size: 15px;
}

.degree {
    font-size: 20px;
    font-weight: 100;
    position: relative;
    left: 420px;
    bottom: 235px;
}


footer {
    font-size: 18px;
    color: gray;
    text-align: center;

}

a {
    color: blueviolet;
}

